################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.dotnet-home
/.nuget-packages
/src/PriceScout.Cli/obj
/src/PriceScout.Cli/bin
/.vs
/src/PriceScout.Cli/obj
/tests/PriceScout.Tests/bin
/tests/PriceScout.Tests/obj
